<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<title>Document</title>
  	<script src="./lib/vue-2.4.0.js"></script>
</head>
<body>
	<div id="app">
		<input type="text" v-model="firstname"> +
    	<input type="text" v-model="middlename"> +
    	<input type="text" v-model="lastname"> =
    	<input type="text" v-model="fullname">
	
<!--     	<p>{{ fullname }}</p>
    	<p>{{ fullname }}</p>
    	<p>{{ fullname }}</p> -->
	</div>
	<script>
		let vm = new Vue({
			el:'#app',
			data:{
				firstname:'',
				lastname:'',
				middlename:''
			},
			methods:{},
			computed:{
				//在computed中可以定义一些属性这些属性叫做计算属性计算属性的本质就是一个方法只不过我们在使用这些计算属性的时候是把他们的名称直接当作属性来使用的并不会把计算属性当作方法去调用
				//1.计算属性在引用的时候一定不要加()去调用直接把他们当作普通属性去使用就好了
				//2.只要计算属性这个function内部所用到的任何data中的数据发送了变化就会立即重新计算这个计算属性的值
				//3.计算属性的求值结果会被缓存起来方便下次直接使用如果计算属性方法所以来的任何数据都没发生过变化则不会重新对计算属性求值
				'fullname':function(){
					console.log('ok')
					console.log(this.firstname)
					return this.firstname + '-' +this.middlename + '-' +this.lastname
				}
			}
		});
	</script>
</body>
</html>